.admin-dashboard{
  text-align:center;
  margin-top:70px;
}

.admin-dashboard h1{
  font-size:32px;
  margin-bottom:40px;
  font-weight:700;
}

.dashboard-container{
  display:flex;
  justify-content:center;
  gap:50px;
  flex-wrap:wrap;
}

.dash-card{
  background:rgb(255, 255, 255);
  width:250px;
  border-radius:14px;
  padding:20px;
  box-shadow:0px 5px 18px rgba(0,0,0,0.15);
  text-align:center;
  cursor:pointer;
  transition:transform .3s ease, box-shadow .3s ease;
}

.dash-card:hover{
  transform:translateY(-6px);
  box-shadow:0px 10px 25px rgba(0,0,0,0.25);
}

.dash-card img{
  width:100%;
  height:170px;
  object-fit:contain;
  border-radius:10px;
  margin-bottom:15px;
}

.dash-card button{
  padding:12px 25px;
  font-size:16px;
  background:#000000;
  border:none;
  border-radius:8px;
  color:#ffffff;
  font-weight:600;
  cursor:pointer;
  width:100%;
  transition:.3s ease;
}

.dash-card button:hover{
  background:#0c6c8f;
  color:#fff;
}
