.report-view {
  width:70%;
  margin:auto;
  text-align:center;
  margin-top:50px;
}

.download-icon {
  width:42px;
  margin-top:25px;
  cursor:pointer;
  transition:.3s;
}

.download-icon:hover { transform:scale(1.1); }
