.edit-profile-container {
  display: flex;
  justify-content: center;   /* Center horizontally */
  align-items: center;   /* align to top instead of middle */
  height: 100%;         /* Full viewport height as needed */
  min-height: 85.6vh;
  width: 100%;               /* avoid forcing 100vw which can cause scroll issues */
  padding: 0;
  padding-bottom:20px;        /* gap between header and login box */
  background: url("../assets/bga.png") no-repeat center center/cover; /* Background image */
  background-size: cover;       /* make bg cover the screen */
  overflow: hidden; 
}

.edit-profile-box {
  width: 420px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  margin-top: 10px;
  text-align: left;
}

.edit-profile-box h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top:5px;
  font-size: 22px;
  font-weight: 700;
}

.edit-profile-box label {
  font-weight: 500;
  margin-top: 3px;
  display: block;
}

.edit-profile-box input,
.edit-profile-box textarea {
  width: 100%;
  padding: 10px;
  margin-top: 0px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #fafafa;
}

textarea {
  height: 80px;
  resize: none;
}

.save-btn {
  margin-top: 20px;
  width: 100%;
  background: black;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: 0.2s;
}

.save-btn:hover {
  background: #0c6c8f;
}
