.track-page {
  padding: 20px;
}

.track-info {
  margin-top: 15px;
  padding: 12px;
  background: #fff3e6;
  border-radius: 8px;
  font-weight: 500;
}


.track-page h2 {
  margin-bottom: 15px;
}

.map-box {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.track-info {
  margin-top: 15px;
  padding: 15px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  font-size: 15px;
}

.track-info .live {
  grid-column: span 2;
  color: green;
  font-weight: bold;
}
