/* FULL PAGE BACKGROUND */
.page-background {
  min-height: 85.6vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* match registerRole */
  padding-top: 20px;       /* same as registerRole */
  background: url("../assets/bga.png") no-repeat center center/cover;
  background-size: cover;
  background-attachment: fixed; /* keep bg fixed */
}

/* Login Container */
.login-container {
  display: flex;
  justify-content: center;
  width: 80% !important;
  margin-top: 15px;
}

/* Login Box */
.login-box {
  width: 40%;
  background: rgba(255, 255, 255, 0.92);
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
  text-align: center;
}

.login-box:hover {
  transform: translateY(-6px);
  box-shadow: 0px 10px 25px rgba(0,0,0,0.25);
}

/* Heading */
.login-box h1 {
  margin-bottom: 20px;
  font-size: 26px;
  font-family: 'Fredoka', system-ui;
  color: #35012e;
}

/* Input Fields */
.login-box input {
  display: block;
  width: 100%;
  margin: 12px 0;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  font-family: 'Fredoka', system-ui;
}

/* Button */
.login-box button {
  width: 100%;
  padding: 12px;
  background: #000;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.login-box button:hover {
  background: #0c6c8f;
}

.register-text {
  margin-top: 19px;
  font-size: 14px;
  color: #000;
  text-align: center;
}

.register-text {
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s;
}

.register-text {
  color: #0c6c8f;
}

.register-link {
  margin-top: 5px;
  font-size: 15px;
  text-align: center;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s;
  display: block; /* moves to next line */
}

.register-link:hover {
  color: #0c6c8f;
}

.forgot-password {
  margin-top: 12px;
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
  text-align: center;
}

.forgot-password:hover {
  text-decoration: underline;
}

