/* FULL PAGE BACKGROUND */
.page-background {
  min-height: 85.6vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
  background: url("../assets/bga.png") no-repeat center center/cover;
  background-size: cover;
}

/* MAIN BIG CONTAINER */
.main-container {
  width: 55%;
  max-width: 900px;
  padding: 20px;
  margin-top: 15px;
  text-align: center;
  background: rgba(145, 225, 212, 0.461);
  border-radius: 15px;
  box-shadow: 0px 5px 18px rgba(0,0,0,0.25);
}

/* Title */
.main-container h2 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 4px;
}
.main-container p {
  font-size: 17px;
  margin-bottom: 30px;
}

/* Hold both icon cards */
.cards-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

/* Each card (image + button) */
.role-card {
  width: 200px;
  background: #ffffff;
  border-radius: 12px;
  padding: 15px;
  cursor: pointer;
  box-shadow: 0px 5px 14px rgba(0,0,0,0.20);
  transition: 0.3s ease;
}
.role-card:hover {
  transform: translateY(-7px) scale(1.03);
}

/* Image styling */
.role-card img {
  width: 100%;
  height: 170px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 12px;
}

/* Button styling */
.role-card button {
  width: 100%;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 0;
  font-size: 15px;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.3s ease;
}
.role-card button:hover {
  background: #0c6c8f;
}
